*.egg
*.egg-info
*.pyc
*.swp
.cache
.testrepository
.tox
AUTHORS
build
ChangeLog
debian/files
debian/libra
debian/libra.debhelper.log
debian/libra.postinst.debhelper
debian/libra.preinst.debhelper
debian/libra.prerm.debhelper
debian/libra.substvars
dist
doc/html
doc/api
