Source: libra
Section: python
Priority: optional
Maintainer: Andrew Hutchings (LinuxJedi)
Build-Depends: debhelper (>=9),
  python-all (>= 2.7),
  python-all-dev (>= 2.6.6-3~)
Build-Depends-Indep:
  python-sphinx (>=1.0),
  rst2pdf (>=0.16)
Standards-Version: 3.9.4
Homepage: https://launchpad.net/libra

Package: libra
Architecture: all
XB-Python-Version: ${python-Versions}
Depends: ${misc:Depends} ${python:Depends}
Provides: ${python:Provides}
Description: Tools for an Openstack Load Balancer as a Service

